---

const { andre } = Astro.props;
import Knapper from "./Knapper.astro";
---
 <!-- <a href={`produkter/${produkt.slug}`}> -->
      <section class="grid">
      <div>
        <a href={`${andre.slug}`}>{andre.produkt_navn}</a>
      <p> Str. {andre.produkt_str} – {andre.produkt_pris} DKK</p>
      </div>
       <div class="knap">
      <Knapper variant="second">KØB</Knapper>
      </div>
      </section>

  <style>
    section {
      margin-bottom: var(--mobile-40);
    }

    a {
      cursor: pointer;
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 16px;
    }

    .grid {
      display: grid;
      grid-template-columns: 3fr 1fr;
    }

    .knap {
        place-self: start end;
    }

    /* DESKTOP VERSION */
  @media(min-width:650px) {
    a {
      cursor: pointer;
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 21px;
    }
    }

  </style>