---
const { produkt } = Astro.props;

---


<li>
   <a href={`/produkter/${produkt.slug}`}>
   <div class="images">
      <img class="img" src=`../../outfits/${produkt.produkt_image}` alt={produkt.produkt_name}></img>
      <img class="img_hover" src=`../../outfits/${produkt.produkt_imagehover}` alt={produkt.produkt_name}></img>
   </div>
   <p class="infotekst one-line">{produkt.produkt_navn} – {produkt.produkt_pris} DKK</p>
   <p class="infotekst two-line">{produkt.produkt_navn} </p>
   <p class="infotekst two-line">– {produkt.produkt_pris} DKK</p>
   </a>
</li>

<style>
   img {
   aspect-ratio: 1/2;
   object-fit: cover;
   }

   .img_hover {
      display: none;
   }

   .infotekst {
      padding-top: 0;
   }

/* MOBILE VERSION */
 @media(max-width:650px){
  .one-line {
   display: none;
}}

/* DESKTOP VERSION */
 @media(min-width:650px){
   .two-line {
       display: none;
   }

   .infotekst {
      margin-bottom: var(--mobile-20);
   }

   .images {
    position: relative;
    display: inline-block;
    aspect-ratio: 1/2;
   object-fit: cover;
   }

   .img {
    display: block;
    width: 100%;
    height: auto;
   }

   .img_hover {
    display: block;
    position: absolute;
    aspect-ratio: 1/1;
    top: 25%;
    opacity: 0;
   }

   .images:hover .img {
      opacity: 0;
   }

   .images:hover .img_hover {
      opacity: 1;
   }
 }

</style>