---
const { produkt } = Astro.props;

---


<li>
   <a href={`produkter/${produkt.slug}`}>
   <img class="img" src=`../../outfits/${produkt.produkt_image}` alt={produkt.produkt_name}></img>
   <!-- <img class="img_hover" src="/outfit_1/bukser2.JPG" alt="billede"></img> -->
   <p class="infotekst one-line">{produkt.produkt_navn} – {produkt.produkt_pris} DKK</p>
   <p class="infotekst two-line">{produkt.produkt_navn} </p>
   <p class="infotekst two-line">– {produkt.produkt_pris} DKK</p>
   </a>
</li>

<style>
    img {
   aspect-ratio: 1/2;
   object-fit: cover;
   }

/* MOBILE VERSION */
 @media(max-width:650px){
  .one-line {
   display: none;
}}

/* DESKTOP VERSION */
 @media(min-width:650px){
   .two-line {
       display: none;
   }

   .infotekst {
      margin-bottom: var(--mobile-20);
   }
 }

</style>